node-linker=hoisted
# sqlite 采用本地编译
sqlite3_local_prebuilds=D:\work\electron\electron-nestjs-vue-template
# electron 镜像地址
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
# nsis winCodeSign 镜像地址
ELECTRON_BUILDER_BINARIES_MIRROR=http://npmmirror.com/mirrors/electron-builder-binaries/